BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 0
SortIncludes: Never
SpaceBeforeParens: ControlStatements
IndentCaseLabels: false
AccessModifierOffset: -2
NamespaceIndentation: None
